:root {
    --purple: #87394b;
    --light-purple: #cf7692;
    --yellow: #d3b866;
    --light-green: #b6d168;
    --green: #4d876e;
    --light-blue: #50adc0;
    --blue: #56648c;
    --white: #e7e7dd;
}