html, body {
	min-width: 100%;
	min-height: 100%;
}

:root {
	animation: animatedBackgroundGradient 20s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
}

@keyframes animatedBackgroundGradient {
	0% {
		background-position: top left;
	}
	15% {
		background-position: top right;
	}
	40% {
		background-position: bottom right;
	}
	55% {
		background-position: bottom left;
	}
	70% {
		background-position: top right;
	}
	90% {
		background-position: bottom center;
	}
	100% {
		background-position: top left;
	}
}
